*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: hidden;
    /* background-color: #0093E9; */
    /* background-image: linear-gradient(160deg, #0093E9 0%, #C850C0 46%); */
    background-color: #292929; 

}

ul{
    position: relative;
}

ul li{
    list-style: none;
    text-align: center;

}

ul li a{
    margin-top: 50px;
    color: white;
    text-decoration: none;
    font-size: 4.5em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}


ul:hover li a{
    color: #0002;
}

ul li:hover a{
    color: #000;
    background: transparent;
}

ul li a:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    /* border-radius: 40%; */
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

ul li a:hover:before{
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1900px;
    height: 1900px;
}

ul li:nth-child(6n+1) a:before{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

ul li:nth-child(6n+2) a:before{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
ul li:nth-child(6n+3) a:before{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}
ul li:nth-child(6n+4) a:before{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    
}
ul li:nth-child(6n+5) a:before{
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
    
}